/* Write your CSS here */
.midDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}
.divBox {
  padding: 18px;
  margin: 20px;
  padding-left: 15px;
  padding-right: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  color: #334155;

  align-items: center;
}
.div2 {
  border: 1px solid #84cc16;
  background-color: #ecfccb;
  margin-left: 0;
}
.div3 {
  border: 1px solid #06b6d4;
  background-color: #cffafe;
}
.div4 {
  border: 1px solid #7c3aed;
  background-color: #ede9fe;
  margin-right: 0;
}
.img1 {
  width: 70px;
  margin-right: 20px;
}
.in2p {
  font-size: 15px;
  margin-bottom: 5px;
}
.in2a {
  margin-top: 0;
  font-size: 20px;
}
